[2019-04-26 01:53] kentcdodds opened #1 "Invitation to move to testing-library org"
It's up to you, but if you'd like, you're welcome to transfer this repository to the [testing-library organization on GitHub](https://github.com/testing-library). This will give your project more credibility as part of the testing-library family of projects with a unified mission of tools which help people avoid testing implementation details.

Again, totally up to you. I just want you to know we

[2019-04-26 15:48] kentcdodds commented on #1
FYI, this library has gotten a mention in our big announcement today: https://testing-library.com/blog/2019/04/25/new-org :)

[2019-04-26 16:11] benmonro commented on #1
@all-contributors please add @kentcdodds for infrastructure, ideas and code

[2019-04-26 17:27] benmonro opened #4 "update bages"
@allcontributors please add @benmonro for documentation, code, tests, infrastructure and ideas

[2019-04-26 18:46] benmonro commented on #4
@allcontributors please add @benmonro for docs, code, tests, infrastructure and ideas

[2019-04-26 20:37] #4 closed

[2019-04-26 20:41] benmonro opened #7 "Add miherlosev"
@allcontributors please add @miherlosev for code and question

[2019-04-26 20:43] benmonro commented on #7
@allcontributors please add @miherlosev for code and question

[2019-04-26 20:43] benmonro opened #9 "Add support for `within`"
Add support for `within`, similar to other testing-libraries

[2019-04-26 20:49] #7 closed

[2019-04-26 21:30] benmonro opened #10 "Add typescript support"

[2019-04-28 14:05] benmonro commented on #9
Implemented in https://github.com/benmonro/testcafe-testing-library/compare/v1.0.1...v1.1.0

Still need docs

[2019-04-28 19:58] #9 closed

[2019-05-01 17:33] benmonro commented on #1
@kentcdodds Ok, I'm ready to transfer ownership.  I think I need to be given permission.  :)

[2019-05-01 18:00] kentcdodds commented on #1
Sweet, you've been invited! https://github.com/testing-library

[2019-05-01 18:06] benmonro commented on #1
done.  🎉

[2019-05-01 18:06] #1 closed

[2019-05-02 17:21] benmonro opened #14 "update description"
@kentcdodds looks like I don't have access to update the description for this repo.  Can you give me access to do that?

[2019-05-02 19:26] kentcdodds commented on #14
Weird! Let me see...

[2019-05-02 19:27] kentcdodds commented on #14
I think I fixed it. Let me know.

[2019-05-02 19:54] benmonro commented on #14
yep, thanks @kentcdodds

[2019-05-02 19:54] #14 closed

[2019-05-08 20:52] leosuncin opened #15 "Error with `within` due to transpilation error"
I can not use `within` query because it throw an exception as see bellow:
<pre>
1) SyntaxError: missing ) after argument list

      Browser: Firefox 66.0.0 / Linux 0.0.0

         44 |      return DomTestingLibrary.${queryName}(document.body, ...arguments);
         45 |      `));
         46 |});
         47 |
         48 |const within = async sel => {

         50 |    const elem = document.que

[2019-05-08 21:42] #15 closed

[2019-05-08 21:45] benmonro commented on #15
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/testcafe-testing-library)
- [GitHub release](https://github.com/testing-library/testcafe-testing-library/releases/tag/v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-08 21:46] benmonro commented on #15
@leosuncin thank you for A) using testcafe-testing-library and B) submitting this bug report.  🙏

Wanted to let you know that in order to use `within` you have to destructure the queries like this:

[code]
or else it will be bound to the default element which is `document.body`

that said, when I reproduced the issue locally, simply removing the `within` call on your branch so you may not even nee

[2019-05-08 22:01] leosuncin commented on #15
Question: Just works with string selector or can I use `Selector` from testcafe?

[2019-05-08 22:09] benmonro commented on #15
Just string for now.  But I'd love a pull request.

On Wed, May 8, 2019 at 3:01 PM Jaime Leonardo Suncin Cruz <
notifications@github.com> wrote:

--
Ben Monro
Software Developer

[2019-05-08 22:10] leosuncin commented on #15
OK

[2019-05-08 22:10] leosuncin commented on #15
Thanks for reply

[2019-05-21 12:57] eschiebel opened #17 "Error running test from sub-package in monorepo"
I have a monorepo where testcafe and testcafe-testing-library files are in the top-level node_modules with links to the cli entry script installed in packages/sub-package/.bin.  When I run testcafe tests that use testdafe-testing-library from the sub-package they fail with
[code]

[2019-05-22 05:34] benmonro commented on #17
@eschiebel can you provide a sample repo? Or if you'd like to submit a PR I'd be happy to merge

[2019-05-22 17:00] Artikodin opened #18 "testcafe-testing-library's custom Selector didn't work in testcafe page model"
Hi,

when I use custom Selector (getBy, getByAll ...) provided by testcafe-testing-library in [testcafe's page model](https://devexpress.github.io/testcafe/documentation/recipes/use-page-model.html) that throw me an error. So I'm obliged to use the legacy Selector in that case.

<img width="613" alt="Screen Shot 2019-05-22 at 18 34 54" src="https://user-images.githubusercontent.com/16764987/581929

[2019-05-23 14:07] benmonro commented on #18
You will need to call addTestcafeTestingLibrary before those getBy calls.
If that's a problem I'd be happy to accept a PR.  🙂

On Wed, May 22, 2019 at 10:05 AM Artikodin <notifications@github.com> wrote:

--
Ben Monro
Software Developer

[2019-05-24 10:29] Artikodin commented on #18
Hey @benmonro  thanks for your answer. But I've already include the `addTestcafeTestingLibrary` call in my test I just didn't notified it in my sample 😬.

[code]
But maybe I should include it in my model. If you have an idea how to do that cause I've tried without success 😅.

[code]

Thanks 👍

[2019-05-24 15:37] benmonro commented on #18
To be honest I haven't tried adding support for pom but I'm happy to accept
a PR of you submit it.

On Fri, May 24, 2019 at 3:29 AM Artikodin <notifications@github.com> wrote:

--
Ben Monro
Software Developer

[2019-06-01 14:33] benmonro commented on #18
@Artikodin I think I found a solution to your problem.  Instead of instantiating your loginPage outside the test, try doing it in the before each like this:

[code]
let me know if that works for you.

[2019-07-16 13:28] #17 closed

[2019-07-16 13:29] #10 closed

[2019-07-16 13:31] benmonro commented on #17
:tada: This issue has been resolved in version 2.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/testcafe)
- [GitHub release](https://github.com/testing-library/testcafe-testing-library/releases/tag/v2.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-16 16:24] benmonro opened #24 "contributors"

[2019-07-16 16:25] benmonro commented on #24
@allcontributors please add @dobogo for code

[2019-07-16 16:26] benmonro commented on #24
@allcontributors please add @vanhoofmaarten for code

[2019-07-16 16:28] benmonro commented on #24
@allcontributors please add @vanhoofmaarten for code

[2019-08-11 16:38] benmonro commented on #18
closing due to inactivity @Artikodin feel free to reopen if it is still an issue

[2019-08-11 16:38] #18 closed

[2019-08-11 16:38] #24 closed

[2019-08-19 09:49] rssfrncsrenishaw opened #28 "After reload inside of a test error "TestingLibraryDom is not defined" thrown."
Adding testcafe-testing-library to fixture,

[code]

If I reload the page during a test I get an error thrown when I use a testcafe-testing-library functions in the same test.

[code]

Error thrown,

![image](https://user-images.githubusercontent.com/50481613/63256206-ff7bb800-c26e-11e9-920d-b60d54b5929a.png)

[2019-08-19 09:50] rssfrncsrenishaw commented on #28
Interestingly if I manually add after the reload it works...

[code]

This is not ideal.

[2019-08-19 13:17] benmonro commented on #28
Thanks for reporting!  I will look into this

[2019-08-19 13:20] rssfrncsrenishaw commented on #28
I posted it on stackoverflow and was told to look into https://devexpress.github.io/testcafe/documentation/using-testcafe/common-concepts/inject-scripts-into-tested-pages.html

[2019-08-19 13:22] benmonro commented on #28
Yes they just added that feature.  The fix will probably involve that

[2019-08-19 15:49] benmonro commented on #28
@rssfrncsrenishaw feel free to give this issue a 👍 as it will help fix your problem cleanly. :)
https://github.com/DevExpress/testcafe/issues/4176

[2019-08-19 19:06] benmonro commented on #28
@rssfrncsrenishaw I have released a new version (3.0.0) that should support your issue.  The breaking changes are that addTestcafeTestingLibrary has been removed in favor of clientScripts which is now supported in testcafe 1.4.x.

To test this, you will need to update to testcafe 1.4.x (if you haven't already) and then do `npm i -D @testing-library/testcafe@next`

[2019-08-20 07:16] rssfrncsrenishaw commented on #28
nice work!

[2019-08-20 13:02] benmonro commented on #28
Does that mean it works for you?  🙂

[2019-08-20 14:08] rssfrncsrenishaw commented on #28
Unable to upgrade to 1.4.X at the moment so can't test it...

[2019-08-20 14:21] benmonro commented on #28
ok, well I added a test for your use case and the new client script injection should fix this, so closing for now, but if you do run into issues again feel free to reopen.

Fixed in https://github.com/testing-library/testcafe-testing-library/releases/tag/v3.0.0%40next

[2019-09-20 10:41] benmonro opened #33 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `undefined` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2019-09-20 11:32] #33 closed

[2019-09-20 11:36] #28 closed

[2019-10-01 13:27] mbulfair opened #36 "Upgrading to 3.x broken previously working tests."
I upgraded following https://testing-library.com/docs/testcafe-testing-library/intro

Removing:
`addTestcafeTestingLibrary` from my test and beforeEach in the fixture.

Adding:
[code]
With a very simple test:

[code]

Now I get:
[code]

I have others' but, this is the simplest example. If I downgrade to 2.x it works as expected, did I miss something?

[2019-10-01 13:46] benmonro commented on #36
Are you on version 1.5 or greater of testcafe?

[2019-10-01 13:48] benmonro commented on #36
Also what happens when that is in a t.expect?

[2019-10-01 14:02] mbulfair commented on #36
Yes I was on all the latest versions per the documentation. I am just checking if the element is present. This is a react project.

[2019-10-01 14:04] mbulfair commented on #36
[code]

[2019-10-01 14:19] benmonro commented on #36
Ok and what if you wrap it in t.expect?

Any chance you could push a repro to a repo somewhere?

[2019-10-01 14:26] mbulfair commented on #36
I can't share the code directly, under corporate github.

I have the clientScripts in my testcaferc.json file
Here's the test:

[code]

The screenshot shows the page to now be blank and the error is saying it can't find the element. (Which I would expect) given that, which is the best way to have the test wait, it's a react project but I think that module conflicts in some way with this upgrade.

[2019-10-01 14:34] benmonro commented on #36
so just to confirm, does wrapping the call in `t.expect` get rid of the error for you?

re: the react project / conflicts, I'd have to get more details/error messages.  I use this on react projects all the time, it really shouldn't conflict w/ anything since it's testing the full running app.

[2019-10-01 14:35] mbulfair commented on #36
Right, I upgraded all at once all the testcafe related things, including adding requestmocks, and this error kept happening. So far I think it's ok. Sorry for the issue.

[2019-10-01 14:35] #36 closed

[2019-10-01 16:40] benmonro commented on #36
@mbulfair no worries.  Glad it worked out.  Hope you enjoy using TCTL.  I welcome and and all feedback/issues/PRs. 🙂

[2019-10-15 20:58] Ronva opened #37 "Babel 6 errors when using react-boilerplate"
Using testcafe-testing-library with react-boilerplate causes this error:
[code]

Steps to reproduce:
1. Set up a react-boilerplate project (https://github.com/react-boilerplate/react-boilerplate/#quick-start).
2. Install `testcafe` and `@testing-library/testcafe` as dependencies.
3. Create a test file and add a test that uses a helper function from `@testing-library/testcafe`.
4. Run the test with

[2019-10-15 22:25] benmonro commented on #37
Thank you @Ronva i will look into this on the weekend... my only time these days for open source fun. :)

[2019-10-16 04:16] benmonro commented on #37
@Ronva it looks like your project was missing a .testcaferc.json file.  I will make it more clear in the docs that this is required.  I opened a PR on your example.  let me know if that fixes your issues.  if not please let me know what versions of node, npm etc you are using when you run this.

here's the PR showing what works on my machine: https://github.com/Ronva/react-boilerplate-testcafe/pul

[2019-10-17 01:25] benmonro commented on #37
@Ronva closing this since you said in the PR that is working for you but feel free to reopen.

[2019-10-17 01:25] #37 closed

[2019-10-18 14:36] Meemaw opened #38 "Selector is expected to be initialized with a function, CSS selector"
After upgrading to `testcafe` v1.6.0 it seems that `@testing-library/testcafe` selectors started failing:

I can see this repo is still on `v1.5.0` so it probably is not compatible with `v1.6.0` yet?

[code]

Throws:
<img width="724" alt="Screen Shot 2019-10-18 at 11 57 02 AM" src="https://user-images.githubusercontent.com/8524109/67085053-6d285f80-f19e-11e9-9753-8cdaf1ac262f.png">

Error points t

[2019-10-18 19:00] benmonro commented on #38
Thanks for reporting this.  what version of TCTL are you on?

[2019-10-18 19:14] benmonro commented on #38
hmm, ok yeah I just update (https://github.com/testing-library/testcafe-testing-library/pull/39) and it is passing all tests.  let me try to repro locally

[2019-10-18 19:16] Meemaw commented on #38
Great, if you'll have issues reproducing I will get you a reproducible example tomorrow -- don't spend too much time on it.

[2019-10-18 19:25] benmonro commented on #38
yeah was able to run your example locally w/ no problem.  reproducible sample will be much appreciated. 🙌

[2019-10-23 18:49] benmonro commented on #38
@Meemaw any update on this?

[2019-10-27 23:43] benmonro commented on #38
@Meemaw closing this for now since I haven't heard from you.  if you need to reopen please do.

[2019-10-29 05:22] simoncollins opened #53 "Use of queryByXXX vs getByXXX"
If you want to assert that an element exists and you have a page that loads slowly, you have to use `queryByXXX` selector variants, otherwise you will get intermittent failures using `getByXXX` when the element is not available in time.

I burnt a fair bit of time trying to figure out why I was getting intermittent failures because
I'm new to using `testing-library` and had forgotten that differen

[2019-10-29 05:42] benmonro commented on #53
@simoncollins thank you for submitting this.  I will definitely add a note about this to the docs as well as a link to the cheat sheet that breaks down when to use what query.

[2019-10-29 05:45] simoncollins commented on #53
Great, thanks @benmonro ... much appreciated, and thanks for the library!

[2019-10-29 05:55] benmonro commented on #53
Sure! Oh by the way would you mind sharing the error message you were
seeing?

On Mon, Oct 28, 2019 at 10:45 PM Simon Collins <notifications@github.com>
wrote:

--
Ben Monro
Software Developer

[2019-10-29 06:02] simoncollins commented on #53
Sure, it was:

[code]

Basically the app is quite sluggish to load at the moment and has a loading indicator before showing a login form with a text links with `Forgot your password?` on it. So you intermittently get the message above followed by a dump of the DOM.

[2019-10-29 15:11] benmonro opened #55 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-10-30 15:25] #55 closed

[2019-11-06 13:24] benmonro opened #65 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-11-22 13:48] #65 closed

[2019-12-11 17:05] feclist opened #85 "Unpredictable assertion behaviour in highly async application"
Hi 👋

We're using TestCafe in combination with testcafe-testing-library to test our highly async Electron app. I am encountering this problem where assertions like:
` t.expect(queryAllByText('Surrey Quays').nth(8).exists).ok()`
Sometimes fail and sometimes pass. I came across an older already closed issue (#53), covering a similar problem where slower apps do funny things using `get*` instead of `

[2019-12-11 19:35] benmonro commented on #85
Hi @feclist can you provide a repo with reprodicible example so I can take a look?

[2019-12-12 00:55] yugandhar-pathi opened #86 "findByTestId doesn't work"
I have a page which makes `fetch` call to get list of records. I wrote below test on the page which will assert records. But fails!!

[code]

I get below error ...
[code]

Can someone help me please.

[2019-12-12 01:07] benmonro commented on #86
Can you try it with getByTestId instead?

[2019-12-12 01:08] benmonro commented on #86
findBy queries aren't really needed in because testcafe already world that way so I may remove them to avoid this confusion

[2019-12-12 01:09] benmonro commented on #86
Let me know if getBy works @yugandhar-pathi

[2019-12-12 03:32] yugandhar-pathi commented on #86
@benmonro .. I initially tried with `getBy`, but it doesn't wait until my `fetch` request completes, and fails saying that no element with that `id` exists.

[2019-12-12 03:33] yugandhar-pathi commented on #86
More interesting is native `testcafe` selector works fine without any issue ..
[code]

[2019-12-12 03:34] benmonro commented on #86
Hmm.  Any chance you can post an example?  If not I will try to reproduce
it.  But if you have one then it might be quicker for be to figure out

On Wed, Dec 11, 2019 at 7:32 PM yugandhar-pathi <notifications@github.com>
wrote:

--
Ben Monro
Software Developer

[2019-12-12 03:57] yugandhar-pathi commented on #86
I don't have one handy ..but I will create one.

[2019-12-12 04:03] benmonro commented on #86
Thank you 🙏🏻

[2019-12-12 05:13] yugandhar-pathi commented on #86
Here you go ..https://github.com/yugandhar-pathi/testcafe-testing-library

[2019-12-12 06:37] benmonro commented on #86
@yugandhar-pathi thanks this is definitely a bug.  according to the docs testcafe has built in waiting mechanisms (https://devexpress.github.io/testcafe/documentation/test-api/built-in-waiting-mechanisms.html) but clearly something is not working.  not sure when I'll be able to fix this, but I would <3 a Pull request if you would like to fix this one.  would be happy to add you to the list of cont

[2019-12-12 07:03] benmonro commented on #86
actually ignore that whole last comment. i just found a fix.  will test against your repro and publish soon. :)

[2019-12-12 08:00] benmonro commented on #86
ok @yugandhar-pathi i published 3.3.1 which should fix your issue.  Thank you for reporting it.  I will update the docs, but as an FYI, the fix is simply to alias `findBy` queries to `queryBy` queries.  `getBy` queries will throw an exception (as they are designed), so you should only use those if that's the behavior you need.  Since testcafe has built-in waiting, using queryBy essentially has the

[2019-12-12 08:00] #86 closed

[2019-12-12 11:42] feclist commented on #85
Hi @benmonro , thanks for the quick reply. I'll have to look into reproducing this error. I'll try and get something together over the weekend such that you can get a look at it.

My suspicion, however, is that it has to do with the `nth(8).exists` causing retries not to happen (I can be way off here as I haven't dug into the source code yet). The behaviour I see when running the tests is that it

[2019-12-12 15:42] benmonro commented on #86
@yugandhar-pathi I updated the docs here, let me know if that makes sense: https://testing-library.com/docs/testcafe-testing-library/intro#usage

[2019-12-13 02:50] benmonro commented on #86
@yugandhar-pathi did that work for you?

[2019-12-15 14:50] benmonro commented on #85
@feclist any update on this?

[2019-12-16 11:17] feclist commented on #85
@benmonro I've tried to create a reproduction of the problem we're experiencing. Haven't been able to do so yet, sadly enough. I would need to look into it deeper, but don't think I'll have time to do so soon..

Would be fine to close this issue, unless you would have any suggestions as to where this issue could come from.

[2019-12-16 11:25] benmonro commented on #85
Hmm. Hard to say to be honest but I can give some tips for debugging.  If you use the t.debug() feature of testcafe then you can go into the browser and manually run `TestingLibDom.getByText(document.body, "hello")` to see what's happening as that is what testcafe-testing-library does under the hood.

I should also note that getBy should not be used with async. Only queryBy.  Also of note in testc

[2019-12-16 11:26] benmonro commented on #85
I'll close this issue for now but if you can provide a repro I'm happy to reopen it

[2019-12-16 11:26] #85 closed

[2019-12-23 20:29] yugandhar-pathi commented on #86
@benmonro Thanks for your quick help. I have lot of troubles getting when writing tests with TestCafe. Finally I taught I will use Cypress. Testing is cool now !! I would love to test your fix but Testcafe is not launching in my home network. I will let you know once I am in office after holiday break!! Once again Thanks a lot..

[2019-12-23 20:58] benmonro commented on #86
Cypress has a lot of limitations and problems.  The setup and install is nice but I found it to be severely limited when you get into the details and real challenges of testing your app.  Good luck though.  Testcafe will be waiting when you are ready to switch back.  😉

[2020-01-28 09:03] rssfrncsrenishaw commented on #38
I'm getting the same error in 1.8.1

[2020-01-28 09:16] rssfrncsrenishaw commented on #38
@Meemaw  did you ever solve the issue?

[2020-01-28 09:23] Meemaw commented on #38
No, I didn't really have too much to dig into it so we just stopped using this library.

[2020-01-28 11:48] benmonro commented on #38
I'm happy to look into this if you can provide repro @rssfrncsrenishaw

[2020-03-22 01:33] kkateli commented on #38
I have the same error:
Selector is expected to be initialized with a function, CSS selector string, another Selector, node snapshot or a Promise returned by a Selector, but object was passed.

testCafe: 1.8.2
@testing-library/testcafe: 4.0.0

[2020-03-22 01:35] benmonro commented on #38
@kkateli any chance you can create a reproducible example?  I was never able to...

[2020-03-22 02:40] kkateli commented on #38
@benmonro I found out that testcafe has to be a **devDependency** to make the error go away. Now it works fine now. Thanks for your quick response.

[2020-03-22 02:42] benmonro commented on #38
Whoa that's odd.  I'll try to see if I can repro it that way.  Thank you for getting back.  Hope you enjoy the library and feel free to post any other feedback

[2020-03-23 02:04] kkateli opened #126 "Does testcafe-testing-library support IE11"
I have used testcafe-testing-library on chrome/firefox/IE11. Chrome and Firefox all work fine but I am having these errors on IE11:

An error occurred in Selector code: 
 TypeError: Unable to get property 'apply' of undefined or null reference

An error occurred in a script injected into the tested page:
 TypeError: Unable to get property 'for' of undefined or null reference

I am wondering if tes

[2020-03-23 16:07] benmonro commented on #126
@kkateli it has not been tested on ie11, but would welcome a PR if you want to address that.

[2020-03-26 13:21] cbayer97 commented on #38
I'm having the same issue with roughly the following setup:
[code]

[code]

I actually do have the TCTL as well as testcafe itself imported as a devDependency, but still get that error:
[code]

## Environment details:
* "node": "12.14.0"
* "@testing-library/testcafe": "4.0.0"
* "testcafe": "1.8.2",
*  Browser: Chrome 80.0.3987.149 / macOS 10.15.3

[2020-03-26 14:55] benmonro commented on #38
@cbayer97  curious if you can try @kkateli 's fix above and ensure its a dev dep...

[2020-03-26 15:04] benmonro commented on #38
@cbayer97  ok interesting I'll try to reproduce on my end.  Ignore my last comment noticed you mentioned the devdep

[2020-03-26 16:10] benmonro commented on #38
@cbayer97 so I attempted to recreate the issue on this PR: https://github.com/testing-library/testcafe-testing-library/pull/130.  It appears to work for me locally as well in CI, but I'm doing it in javascript.  I did have to change the constructor of WebElement to initialize the selector, not sure if that matters in typescript.

[code]

[2020-03-27 13:53] benmonro commented on #38
@cbayer97  let me know if that works for you.

[2020-03-27 15:53] benmonro commented on #38
@cbayer97 i just tried to re-create your problem in a create-react-app using the typescript template.  your code you had above works fine.  One thing to note, did you add the following to your `.testcaferc.json` file:

[code]
You can see my full working example here:
https://github.com/benmonro/testcafe-testing-library-typescript-example

if you're still having issues if you wouldn't mind trying t

[2020-03-27 22:29] benmonro opened #132 "add theinterned"

[2020-03-27 22:29] benmonro commented on #132
@allcontributors please add @theinterned for docs

[2020-03-27 22:32] #132 closed

[2020-03-30 20:33] benmonro commented on #38
@cbayer97 did this work for you?

[2020-04-01 11:01] cbayer97 commented on #38
Sorry for the late response @benmonro. We use a [runner](https://github.com/DevExpress/testcafe/blob/master/docs/articles/documentation/using-testcafe/programming-interface/runner.md) to start and configure our testcafe setup and thus do not have a `.testcaferc.json`. The `dom.umd.js` script, however, is imported in the runner. Also your suggested solution with the constructor did not work for me.

[2020-04-01 13:42] benmonro commented on #38
Ah ok thank you this is helpful I'll see if I can repro on my end

[2020-05-03 06:52] Meemaw commented on #38
Reproducer:

[code]

Another shell:

[code]

The setup is quite  complex here (monorepo with Lerna).

[2020-05-03 10:13] TeaBough commented on #38
I have the same error:
Selector is expected to be initialized with a function, CSS selector string, another Selector, node snapshot or a Promise returned by a Selector, but object was passed.

testCafe: 1.7.0
@testing-library/testcafe: 4.0.0

it works with testCafe: 1.6.1

[2020-05-03 15:41] benmonro commented on #38
Hey @Meemaw really appreciate the repro on that.  looking into it this morning.  A couple notes so far.  When I add t.debug() in your test before any of the selectors are executed, and go into the chrome dev tools, I'm seeing this error:

![image](https://user-images.githubusercontent.com/399236/80918401-90b98e80-8d19-11ea-9929-61f81aa86fd7.png)

I also noticed that if I mimic what testcafe testin

[2020-05-03 17:30] benmonro commented on #38
ah ha! I think I found the issue.  it looks like you are on testcafe@1.8.4 and @testing-library/testcafe is using testcafe@1.8.3.  I published an alpha build that moves testcafe into peer dependencies to avoid this issue and tested it against my fork of your repo and it seems to work.  Can you verify it on your end and I will cut it as a release.

https://github.com/Meemaw/Insight/compare/master..

[2020-05-04 05:44] Meemaw commented on #38
I can confirm that version fixes the issue.

[2020-05-04 12:47] benmonro commented on #38
Fixed in 4.0.1

[2020-05-04 12:47] #38 closed

[2020-05-08 12:22] benmonro commented on #126
For anyone interested in order to support ie 11 you would need to provide shims for Dom testing library which doesn't ship with any right now so will not work in ie11

[2020-05-20 09:06] andrewwood2 opened #164 "testcafe useRoles are broken on 4.0.1 and 4.1.0"
If I upgrade from 4.0.0 to either 4.0.1 or 4.1.0 then I get the following error from the testcafe (version 1.8.4) useRole feature:
[code]
I case it's helpful, my login function first goes to a logout address and then goes through the login steps.

[2020-05-20 12:26] benmonro commented on #164
Hi @andrewwood2  thanks for reporting this. Any chance you can provide a reproducible example?

[2020-05-20 14:22] cbayer97 commented on #164
I got the same problem when upgrading from 4.0.0.
[code]
The line pointed out actually performs `await t.navigateTo('http:/localhost:3000')`. I wasn't yet able to break it down to a reproducible example, but will look into that if I find the time.

[2020-05-20 15:35] benmonro commented on #164
thank you @cbayer97 or even if you have a code snippet that you can make generic enough to share here ,then I can attempt to reproduce it.

[2020-05-20 15:36] benmonro commented on #164
@Meemaw any ideas here?  This was caused by the typescript conversion...

[2020-05-20 16:07] Meemaw commented on #164
Typescript conversion should identically match prior behaviour, so that would be very surprising to me. An issue for this has already been opened https://github.com/DevExpress/testcafe/issues/5073

[2020-05-22 09:16] benmonro commented on #164
@andrewwood2  @cbayer97  can you look at the issue in testtcafe that @Meemaw  linked to?  The only other change between 4.0 and 4.1 was moving testcafe to peer dependencies so if there was a regression in testtcafe that might be the issue.

[2020-05-25 02:44] benmonro commented on #164
@cbayer97 @andrewwood2 any updates on this?

[2020-06-08 11:07] benmonro commented on #164
Closing but feel free to reopen if the corresponding issues in testtcafe is addressed

[2020-06-08 11:07] #164 closed

[2020-08-03 21:14] SamuelDavis opened #222 "testcafe-testing-library breaks TestCafe's testController.navigateTo function."
**Describe the bug**
If the testcafe-testing-library script has been injected into the browser, when TestCafe runs and attempts to invoke the `testController.navigateTo` method, the following error is thrown:

Of course, the stack trace terminates at the invocation point in the test script rather than where `destUrl` is actually referenced.

If I follow the [docs](https://testing-library.com/docs/

[2020-08-03 21:20] benmonro commented on #222
strange, I use navigateTo all the time but haven't run into this.

would love a PR if you'd like to contribute a bug fix.  the library is pretty small, basically just a wrapper over dom testing library.

otherwise i will try to look into this either tonight or tomorrow.

[2020-08-03 21:31] SamuelDavis commented on #222
@benmonro Thanks for the fast response. It's over my head; I'd appreciate another set of eyes on my example repo. Even if the problem isn't specifically in this repo, I posted the issue here simply because following the usage docs fails out of the box as far as I can tell. If it can't be fixed here then I'd appreciate a recommendation as to where the issue belongs: maybe testing-library/dom, maybe

[2020-08-03 21:34] benmonro commented on #222
no problem, busy at the moment but will try to look tonight.  in the meantime, if you find anything out let me know!

[2020-08-04 02:30] benmonro commented on #222
@SamuelDavis I think I found your problem.  your fixture has no page.  In testcafe, when you use the clientScripts feature you have to have some page.  I don't think there's anything that we can do in this library to account for that since the clientScripts are statically defined in the config.  If it's a problem you can open an issue in testcafe's issue tracker to let them know.  otherwise, for n

[2020-08-04 02:30] #222 closed

[2020-08-06 20:13] SamuelDavis commented on #222
@benmonro You're absolutely right; thanks so much.

[2020-08-19 14:50] mwq27 opened #232 "Error: TypeScript compilation failed."
**Describe the bug**
After adding testcafe-testing-library to my project, I'm getting a TS compilation error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add testcafe-testing-library to project
2. Execute a test
3. See error

**Expected behavior**
Test should run

**Screenshots**
![Screen Shot 2020-08-19 at 9 50 24 AM](https://user-images.githubusercontent.com/551359/90650382-6ecd

[2020-08-19 14:55] benmonro commented on #232
@mwq27 i use the library with typescript but don't have this problem. Would you mind sharing a reproducible example of this?

[2020-09-04 12:53] benmonro commented on #232
@mwq27 closing for now but if you can provide an example repro we can re open

[2020-09-04 12:53] #232 closed

[2020-09-04 12:54] #126 closed

[2020-09-15 19:51] kevin-inrupt opened #250 "TypeError: Cannot read property 'destUrl' of null"
**Describe the bug**
After including a reference to `"@testing-library/dom/dist/@testing-library/dom.umd.js"` in `.testcaferc.json` as per https://testing-library.com/docs/testcafe-testing-library/intro, tests that were successfully executing now fail with error:

[code]

**To Reproduce**
1. Extract the attached zipfile [destURL.zip](https://github.com/testing-library/testcafe-testing-library/file

[2020-09-15 20:02] benmonro commented on #250
@kevin-inrupt when you say it was working but now it's not... Can you give more details?  How was it working before without the reference?

Also what version of the library are you using?

[2020-09-15 20:37] kevin-inrupt commented on #250
+ testcafe@1.9.2
+ @testing-library/testcafe@4.2.2

The only change that I made to my full test suite was to include the following in the `.testcaferc.json` file:
[code]

Prior to the change, the tests executed successfully. After the change, the tests failed to execute and the error shown in the description was displayed in the console.

In the cut-down sample test attached to the bug, the same i

[2020-09-15 21:10] benmonro commented on #250
@kevin-inrupt can you try adding `.page` to your fixture?  I believe there's a bug in testcafe where you have to specify `.page` if you're using clientScripts in this way.

[2020-09-16 00:27] kevin-inrupt commented on #250
@benmonro That looks like it fixed it - at least there are no errors when starting up a test. Just need to see if there is a way of rewriting the tests/roles so there are not 2 page loads.

Many thanks for the prompt help.

[2020-09-16 00:27] #250 closed

[2020-09-16 00:32] benmonro commented on #250
What we did recently is have a hand shake mode so nothing is rendered by the app until the hand shake is complete.  Alternatively you could create a blank page as a starting page so at least the videos don't look choppy.  But it's it's annoying.  Feel free to post a bug to test Cafe.  I'll be happy to +1 it.  🙂

[2020-09-16 09:47] timmak opened #251 "Type Error: Argument of type '{ name: string; }' is not assignable to parameter of type 'MatcherOptions'."
**Describe the bug**
The issues is in the types file options argument not all option take the base interface MatcherOptions some take extend options as seen here https://github.com/testing-library/dom-testing-library/blob/master/types/queries.d.ts

**To Reproduce**
[code]
**Expected behavior**
The option types should match those queires in dom testing library

[2020-09-16 12:34] benmonro commented on #251
@timmak  are you on the latest version?

We are using the matcher options from DTL as you can see here: https://github.com/testing-library/testcafe-testing-library/blob/master/src/types.ts#L6

[2020-09-16 12:39] timmak commented on #251
*ByRole uses a extended matcher of MatchOptions
https://github.com/testing-library/dom-testing-library/blob/master/types/queries.d.ts#L69

Unless I am missing reading it, and using the latest version

[2020-09-16 12:57] benmonro commented on #251
Ah good catch definitely a bug.  Would you mind submitting a PR to fix it?

[2020-09-17 16:47] kevin-inrupt commented on #250
Based on your suggestion, create https://github.com/DevExpress/testcafe/issues/5555

[2020-09-17 17:39] benmonro commented on #250
Thank you!

[2020-09-18 20:31] #251 closed

[2020-11-10 19:35] nilshartmann commented on #232
fyi: I had the same problem using TypeScript 3.x; upgrading to TypeScript 4.x solved the problem.

[2020-11-10 19:40] nickmccurdy commented on #232
Perhaps TypeScript 4 should be added to peerDependencies?

[2020-11-19 18:50] nilshartmann opened #259 "findBy/findByAll not working with within"
**Describe the bug**
Using a `findBy` and  `findAllBy` query function on a selector returned by `within` throws error:

[code]

In my example the following works:
[code]

while this one does _not_:
[code]

It doesn't matter if I find the `group` with `findByRole` or `getByRole`.

**To Reproduce**

You can find a reproducable example at https://github.com/nilshartmann/testcafe-within. The app in th

[2020-11-19 19:46] benmonro commented on #259
@all-contributors please add @nilshartmann for bugs

[2020-11-19 19:47] benmonro commented on #259
@nilshartmann thank you for reporting, will try to look at it this weekend, but if you want to take a stab at providing a PR to fix the problem, would be happy to accept that.

[2020-11-21 20:02] #259 closed

[2020-11-21 20:09] benmonro commented on #259
@nilshartmann this should be fixed in 4.3.1. Let me know if you have any issues with it, but I added your use case to the tests, so it should be good.  Thanks again for reporting this!

[2020-11-22 09:32] nilshartmann commented on #259
@benmonro perfect! Thanks a lot for your fast response! 👍👍👍

[2020-11-24 16:55] Srihari88 opened #263 "Error: Cannot call method 'getByPlaceholderText' of undefined"
**Describe the bug**
I am trying to execute the below sample code and it's always throwing the same error that Cannot call method 'getByPlaceholderText' of undefined. Attached the code below.

import {
    getByText,
    getByPlaceholderText
  } from '@testing-library/testcafe'

fixture('Google Page').page('https://opensource-demo.orangehrmlive.com/index.php/auth/login');

test("Create button", as

[2020-11-26 20:03] benmonro commented on #263
@Srihari88 is it possible for you to post a repository with this problem in a reproducible state?

[2020-12-04 11:06] Srihari88 commented on #263
it's working. after uninstall & install this library

[2020-12-04 11:06] #263 closed

[2021-06-07 12:26] davidmateoc opened #290 "Wait function not working as expected after testing-library-dom update"
**Description**
New version of testing-library-dom is deprecating [wait](https://testing-library.com/docs/dom-testing-library/api-async/#deprecated-methods) function for waitFor, breaking some existent tests using a previous version (“6.14.0”).

Could be due to this change:

This causes the following error when trying to use the wait/waitFor function for an element that needs to appear in the brow

[2021-07-09 14:43] edouard-lopez commented on #126
Damn!
I started to explore `testcafe` for the sole purpose of protecting against regression in IE11 :S

By shim do you mean something like [`core-js`](https://github.com/zloirock/core-js) ?
I reckon it's still possible to test without `testcafe-testing-library`

[2021-12-21 09:15] cdimitroulas opened #322 "Allow configurable debug print size with DEBUG_PRINT_LIMIT env var"
**Is your feature request related to a problem? Please describe.**
Other testing-library libs have the ability to configure the size of the debug output by using the `DEBUG_PRINT_LIMIT` env variable. This doesn't seem to work with testcafe-testing-library.

**Describe the solution you'd like**
Allow setting `DEBUG_PRINT_LIMIT` to increase the size of the default debug print when selectors like `ge

[2022-02-24 01:55] AdrienLemaire opened #332 "Property 'exists' does not exist on type 'NodeSnapshot'."
**Describe the bug**
Following [the documentation](https://testing-library.com/docs/testcafe-testing-library/intro/), I tried to write the following test

[code]

When running tests, I get the following error pointing on the `notOk` line

[code]

And when trying to console.log the value of `await googe.exists`, I get

[code]

**Expected behavior**

I thought from reading the examples that `@testin

[2022-06-09 00:56] dantman opened #354 "Support ClientFunctions for findByRole's name option"
**Is your feature request related to a problem? Please describe.**
I had a list of buttons containing years and wanted to do a numeric comparison to a year number in a variable instead of a string comparison. findByRole's types suggest that it supports a function form of the `name` option and thought that would work.

However because the `name` function is executed on the client it loses the conte

[2022-06-09 16:15] benmonro commented on #354
Thanks for reporting @dantman would love a PR if you want to take a stab at it. :)

[2022-06-09 16:16] benmonro commented on #332
would welcome a PR if you want to take a stab at fixing this. :)

[2022-06-09 16:16] benmonro commented on #322
would welcome a PR for this. :)

[2022-06-09 16:16] benmonro commented on #290
would welcome a PR for this

[2022-06-29 15:02] andrew-t-james opened #357 "Unable to use any of the selectors from @testing-library/testcafe in testcafe tests"
**Describe the bug**
Unable to use @testing-library/testcafe selectors in tests.

**To Reproduce**
Steps to reproduce the behavior:
1. generate a new repo with testcafe
2. add the following test
[code]
3. Add testcaferc.json to root
[code]
4. add this script to package.json `"testcafe": "testcafe chrome:headless"`

5. Run test  `yarn testcafe | npm run testcafe`

6. See error
[code]

**Expected be

[2022-06-29 18:04] andrew-t-james commented on #357
Closing looks like it was a config issue. My bad.

[2022-06-29 18:04] #357 closed

[2022-08-02 20:38] cdimitroulas commented on #322
@benmonro I tried to dig into this a bit but wasn't able to make much progress.

I tried to replicate the tests from [here](https://github.com/testing-library/dom-testing-library/blob/4e9484ab91f379c95a2cbfb5a100f4dc96ec0143/src/__tests__/element-queries.js#L1037) as a starting point but I wasn't able to figure out how to capture the error message which includes a printout of the DOM in the test c